body {
  font-family: 'Fira Sans', sans-serif;
}

#start {
  background: url(images/bg.jpg) center bottom / cover no-repeat;
  position: relative;
  min-height: 675px;
}

#start h1,
h5 {
  font-weight: 700;
}

.yellow {
  color: yellow;
}

.fa-phone {
  transform: rotate(90deg);
}

ul li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

img {
  margin-left: 150px;
}
