body {
  font-family: 'Fira Sans', sans-serif;
}

#start {
  background: url(/images/bg.jpg) center bottom / cover no-repeat;
  position: relative;
  min-height: 675px;
}

#start h1,
h5 {
  font-weight: 700;
}

.yellow {
  color: yellow;
}

.fas {
  transform: rotate(90deg);
}
